*{
	margin: 0;
	padding: 0;
}
.bold-text{
	font-weight: bold;
}
h1{
	height: 100px;
	background-color: #858585;
	line-height: 100px;
	padding-left: 30px;
	color: white;
}
div{
	overflow: hidden;
	border-bottom: solid 1px #e4e4e4;
}
h2{
	float: left;
	height: 100px;
	line-height: 100px;
	width: 120px;
	text-align: center;
	background-color: #d6d6d6;
}
p{
	margin-left: 150px;
	margin-top: 20px;
}