h1{
	float: left;
	background-color:deepskyblue;
	width: 130px;
	height: 700px;
	margin: 0 20px 0 0;
	padding-top: 60px;
	padding-left: 60px;
	color: white;
}
.bold-text{
	font-weight: bold;
}